.about-section{
  figure{
    .imgcontainer{
      border-radius: 50%;
      overflow:hidden;
      width:65%;
      height:0;
      padding-top:65%;
      margin:1em 17.5% 2em;
      position:relative;
    }

    .fats{
      background-color:$fats;
    }

    .protein{
      background-color:$protein;
    }

    .fiber{
      background-color:$fiber;
    }

    img{
      @extend .center-abs;
      width:100%;
    }

    .icon{
      width:50%;
      padding-top:50%;
      margin:0 25%;
      img{
        width:65%;
      }
    }
  }
}

.info-section{
  figure{
    height:100%;

    img{
      width:125%;
    }
  }
}

.info-section.inverted{
  figure{
    img{
      width:100%;
    }
  }
}

@media screen and (min-width:768px){
  .info-section{
    figure{
      img{
        width:75%;
      }
    }
  }

  .info-section.inverted{
    figure{
      img{
        width:50%;
      }
    }
  }
}

@media screen and (min-width:1200px){
  .info-section{
    figure{
      img{
        width:50%;
      }
    }
  }

  .info-section.inverted{
    figure{
      img{
        width:50%;
      }
    }
  }
}