html, body {
  height: 100%;
  overflow: auto;
}
.intro {
  @include radial-gradient($orange-light, $orange-dark);

  height: 80%;
  position: relative;
}

.info-section {
  height: 46em;
  width: 100%;

  figcaption {
    margin-top: 15em;
    background: $orange;
    color: $light;
    box-shadow: 0 0 2em fade-out($dark, .9);
    padding: 2em;
    border-radius: 1.4em;
  }
}

.inverted {
  height: 36em;
  background-color: $dark;

  figcaption {
    background: transparent;
    box-shadow: none;
  }
}

.final {
  @include radial-gradient($orange-light, $orange-dark);
  height:20em;
  figcaption {
    background: none;
    text-align: center;
    margin-top: 7em;
  }
}

.devices {
  figcaption {
    text-align: center;
    margin-top: 5em;
  }
  img {
    width: 400px;
    margin-top: 8em;
    padding:0 5em;
  }
}
.blog-post {
  img {
    margin-top: 3em;
    background-color:$green;
  }
  a{
    text-decoration: none;
    color: $dark;

    &:hover {
      opacity:.8;
      transition: all 300ms;
      color: $green; 
    }
  }
}
