.top-nav {
  height: 3.8em;
  background-color: $navy;
  border-radius: 0;
  margin: 0;
  #navbar {
    position:relative;
    z-index: 1000;
    background-color:$navy;
  }
  .navbar-header {
    position:relative;
    z-index: 1000;
    button {
      span {
        background-color:#FFF;
      }
    }
  }

  li {
    width:100%;
    float:none;
    margin: .4em 2em;
    margin-left:0 !important;

    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    color:$light;
  }

  .btn-primary{
    background-color:$carbs;
    border-color:$carbs;
    margin-top:.55em;
  }
}

.navbar-header{
  height:3.8em;
}

.top-nav .navbar-brand {
  padding:0;
  border:none;

  img {
    height:3.2em;
    margin-top:0;
  }
  .logotype {
    height:2.6em;
    margin: .8em 0 0 1.4em;
  }
}

.navbar-features {
  position: absolute;
  bottom: .4em;
  left: 0;
  right: 0;
  margin: auto;
  li {
    width: 100%;
    text-align: center;
    padding: 0 .2em;
    a {
      padding: .75em;
      border-radius: 1em;

      transition: all 300ms ease;

      background-color: fade-out($orange-light, .5);
      box-shadow: 0 0 2em fade-out($orange-dark, .25) inset;

      @include gradient(fade-out($orange-light, .5), fade-out($orange-light, .25));
      &:hover,
      &:focus {
        box-shadow: 0 0 2em fade-out($orange-dark, .5) inset;
        @include gradient(fade-out($orange-light, .5), fade-out($orange-light, 0));
      }
      &.active {
        @include gradient(fade-out($orange-light, .25), fade-out($orange-light, 0));
      }
    }
    & + li a {
      @include gradient(fade-out($orange-light, .25), fade-out($orange-light, .5));
      &:hover,
      &:focus {
        @include gradient(fade-out($orange-light, 0), fade-out($orange-light, .5));
      }
      &.active {
        @include gradient(fade-out($orange-light, .5), fade-out($orange-light, .75));
      }
    }
    a.active {
      box-shadow: 0 0 2em fade-out($orange-dark, .25) inset;
    }
  }
  button {
    color:$light;
  }
}

.modal .modal-dialog {
  z-index: 1041;
  h4 {
    color: $green;
    font-size: 2em;
  }
  p {
    margin-top: 0;
    padding-bottom:.6em;
    line-height: 1.5em;
    border-bottom: 1px solid transparent;
  }
  button {
    color: $light;
    background-color:$green;
  }
  .close {
    color: $orange-dark;
    background-color:transparent;
    font-size:41px;
  }
}


@media screen and (min-width:768px){
  .top-nav{
    li{
      margin: .4em 2em;
      width:auto;
      float:left;
    }
  }
  .navbar-features{
    li{
      width:50%;
      float:left;
    }
  }
}