.open-sans {
  font-family: 'open-sans', sans-serif;
}
.museo {
  font-family: 'museo-slab', serif;
  font-weight: 700;
}
.proxima {
  font-family: 'proxima-nova', sans-serif;
}

.light {
  font-weight: 100;
}

.semi-heavy {
  font-weight: 600;
}

.heavy {
  font-weight: 700;
}

body {
  @extend .open-sans;
  font-size: 1.4em;
}

h1 {
  @extend .proxima;
  @extend .heavy;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  @extend .museo;
}

h4{
  @extend .museo;
}

.top-nav {
  @extend .proxima;
  @extend .semi-heavy;
  font-size: 1.3em;

  a {
    border: transparent 3px solid;
    color: $light;
    transition: all 100ms ease-in;
  }

  li {
    a {
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $light;
        &.btn {
          background-color: $light;
        }
      }
    }
  }

  .btn {
    font-size: 1em;
    @extend .semi-heavy;
    color: $navy;
  }
}

.navbar-features {
  @extend .proxima;
  @extend .light;
  font-size:2em;
  a {
    color: $light;
  }
  .active {
    @extend .heavy;
  }
}

.mission-statement{
  @extend .proxima;
  @extend .light;
  font-size:3em;
  color:$light;
}


.about-section{
  h1,h3,h4{
    text-align:center;
  }
}